<%= render "profile" %>
<% if @draft_reviews.exists? %>
  <div class="container mb-5">
    <div class="book_review_boxs">
      <% @draft_reviews.each do |review| %>
        <%= render "partial/book_review", review: review %>
      <% end %>
      <%= paginate @draft_reviews %>
    </div>
  </div>
<% else %>
  <div class="text-center mt-5 mb-5">
    <p>下書きはまだありません。</p>
  </div>
<% end %>