<% if @books %>
  <% @books.each do |book| %>
    <p><%= book.title %></p>
    <%= form_with(model: @book, local:true) do |f| %>
      <%= link_to image_tag(book.image_url), book_path(book.isbn) %>
    <% end %>
  <% end %>
<% end %>