<div class="headline mb-5 mt-5">
  <p class="txt-l mb-1">『<%= @title %>』の検索結果</p>
  <p class="headline-bar"></p>
</div>
<div class="search-books">
  <% if @books %>
    <% @books.each do |book| %>
      <div class="search-book">
        <%= link_to image_tag(book.image_url, class:"book-image"), book_path(book.isbn) %>
        <p><%= book.title %></p>
      </div>
    <% end %>
  <% end %>
</div>