<% if logged_in? %>
  <div class="topwrapper">

  </div>
  <div class="container">
    <p class="txt-m"><i class="fas fa-book-open"></i> 最近のレビュー</p>
  </div>

<% else %>
  <div class="mb-5 topwrapper">
    <div class="headline">
      <p class="txt-shadow txt-xxl">読んだ本をシェアしよう！</p>
    </div>
  </div>
  <div class="container">
    <p class="txt-m"><i class="fas fa-book-open"></i> 最近のレビュー</p>
  </div>
<% end %>
