/*----------------------------------------------------------------------------------*/
/*--共通レイアウト--*/
/*----------------------------------------------------------------------------------*/
/*-----------------------*/
/*--文字--*/
/*-----------------------*/
a { color: #000; }
.txt-xxs { font-size: 12px; }
.txt-xs{ font-size: 16px; }
.txt-s{ font-size: 20px; }
.txt-m{ font-size: 24px; }
.txt-l{ font-size: 30px; }
.txt-xl{ font-size: 36px; }
.txt-xxl{ font-size: 42px; }

.txt-black { color: #000000; }
.txt-shadow { text-shadow: 1px 2px 3px #808080; }

/*-----------------------*/
/*--画像--*/
/*-----------------------*/
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #dcdcdc;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.book-image {
  width: 100%;
  border: 1px solid #dcdcdc;
}

/*画面サイズ変更時の画像*/

@media screen and (max-width: 992px) { 
  .user-image {
    width: 65px;
    height: 65px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 767px) { 
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: -10px;
  }
  .row {
    margin: 0;
  }
}

/*-----------------------*/
/*--見出し文字--*/
/*-----------------------*/

.headline {
  text-align: center;
  font-weight: bolder;
}

.headline-bar {
  display: inline-block;
  width: 40px;
  border-bottom: 2px solid #000000;
  margin:0 auto;
}

/*-----------------------*/
/*--レビューの背景部分--*/
/*-----------------------*/
// .review-bg {
//   background-color: white;
//   border-radius: 5px;
//   padding: 20px 10px;
// }

/*-----------------------*/
/*--ボタン--*/
/*-----------------------*/
// .btn-top {
//   display: inline-block;
//   padding: 0.5em 1.5em;
//   color: #000;
//   background-color: rgba(245, 222, 179, 0.3);
//   box-shadow: 1px 1px 2px;
//   margin-bottom: 10px;
// }

// .btn-top:hover {
//   background-color: rgba(245, 222, 179, 1);
//   box-shadow: 0px 0px 0px;
// }

// .btn-link {
//   border: 1px solid #007bff;
// }

// .submit-btn {
//   border-style: none;
//   position: relative;
//   background-color: #fff;
//   right: 35px;
// }

// .submit-btn:hover {
//   cursor: pointer;
// }

// .btn-gray {
//   display: inline-block;
//   padding: 0.5em 1.5em;
//   color: #000;
//   transition: .4s;
//   opacity:0.8;
//   background-color: #dcdcdc;
//   box-shadow: 2px 2px 3px;
// }


/*----------------------------------------------------------------------------------*/
/*--各ページのレイアウト--*/
/*----------------------------------------------------------------------------------*/
/*-----------------------*/
/*--ページ全体--*/
/*-----------------------*/

body {
  background-color: #ffffff;
  word-wrap: break-word;
}

#wrap {
  overflow: hidden;
}

/*-----------------------*/
/*--ヘッダー--*/
/*-----------------------*/
/*ナビバー*/
header {
  margin-bottom: 60px;
}

.navbar {
  box-shadow:0 2px 10px #999;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/*-----------------------*/
/*--検索バー-*/
/*-----------------------*/
.search_bar {
  background-color: #eeeeee;
  padding: 20px 0;
  box-sizing:border-box;
} 

/*-----------------------*/
/*--フッター--*/
/*-----------------------*/
footer {
  background-color: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
}

footer small {
  color: gray
}

/*-----------------------*/
/*--トップページ--*/
/*-----------------------*/
/*共通*/

.topwrapper {
  background-image: url("toppage.jpg");
  height:600px;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.toppage-message {
  position: relative;
  top: 180px;
  left: 50px;
  color: #fff;
}

/*----------------------------------------------------------------------------------*/
/*--パーシャルのレイアウト--*/
/*----------------------------------------------------------------------------------*/
/*-----------------------*/
/*--フラッシュメッセージ--*/
/*-----------------------*/
.f-message {
  position: fixed;
  top: 57px;
  right: 5px;
  z-index: 9;
  border: 1px solid #dcdcdc;
}

/*-----------------------*/
/*--レヴュー内容(_book_review)--*/
/*-----------------------*/
.book_review_boxs {
  display: grid;
  grid-template: auto/ 50% 50% ;
}

.book_review_box {
  margin: 0 0 20px 20px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
}

.review-content {
  margin: 0;
  border-bottom: 1px solid #e7e6e6;
}

.review-content-detail {
  padding: 0;
}

.review-content-user {
  display: flex;
}

.review-sub {
  display: flex;
  justify-content: space-between;
}

.edit-delete {
  right: 15px;
}

.inline-block {
  display: inline-block;;
}

/*-----------------------*/
/*--プロフィール--*/
/*-----------------------*/
.profile-detail {
  display: flex;
}

.profile-end {
  display: flex;
}

/*-----------------------*/
/*--ユーザーのプロフィールページ--*/
/*-----------------------*/
.user-page-bar {
  border-top:1px solid #dcdcdc;
  border-bottom:1px solid #dcdcdc;
}

.user-page-bar ul {
  width: 100%;
}

.user-page-bar ul li {
  width:20%;
  box-sizing: border-box;
  text-align: center;
}

.user-page-bar ul li a {
  padding: 20px 0;
}

.user-page-bar ul li a:hover {
  background-color: #bbddeb;
}

.page-active {
  background-color: #99CCE0;
}

/*-----------------------*/
/*--コメント--*/
/*-----------------------*/
// .comment {
//   margin: 10px 0 0 100px; 
// }

// @media screen and (max-width: 992px) { 
//   .comment {
//     margin: 10px 0 0 90px; 
//   }
// }

// @media screen and (max-width: 767px) { 
//   .comment {
//     margin: 10px 0 0 55px; 
//   }
// }

// .comment-user {
//   margin-left: 10px;
//   display: flex; 
// }
// .comment-user-name {
//   margin-left: 15px;
// }

/*-----------------------*/
/*--本の検索結果表示ページ--*/
/*-----------------------*/
.search-books {
  display: grid;
  grid-template: auto/ 20% 20% 20% 20% 20%;
}

.search-book {
  width: 80%;
  height: 350px;
}

/*-----------------------*/
/*--フォローページ(_follow_user)--*/
/*-----------------------*/
.user-list {
  display: grid;
  grid-template: auto/ 33% 33% 33%;
}

.follow_user {
  margin: 10px;
  box-sizing: border-box;
}

.user-review-books {
  display: grid;
  grid-template: auto/ 33% 33% 33%;
}

.user-review-book {
  margin: 0 0 20px 20px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
}