@import "common";

/*-----------------------*/
/*--フラッシュメッセージ--*/
/*-----------------------*/
.f-message {
  position: fixed;
  top: 75px;
  right: 5px;
  z-index: 9;
  border: 1px solid #dcdcdc;
}
.close:focus {
  outline: none;
}

/*-----------------------*/
/*--本の一覧表示ページ(_book_partial)--*/
/*-----------------------*/
.books_list {
  display: grid;
  grid-template: auto/ 20% 20% 20% 20% 20%;
}

.partial_book {
  width: 80%;
  height: 350px;
}

@media screen and (max-width: 960px) {
  .books_list {
    grid-template: auto/ 33% 33% 33%;
  }
}

@media screen and (max-width: 540px) {
  .books_list {
    grid-template: auto/ auto;
  }
  .partial_book {
    width: 100%;
    text-align: center;
  }
}
