@import "common";

/*-----------------------*/
/*--フラッシュメッセージ--*/
/*-----------------------*/
.f-message {
  position: fixed;
  top: 75px;
  right: 5px;
  z-index: 9;
  border: 1px solid #dcdcdc;
}
.close:focus {
  outline: none;
}

/*-----------------------*/
/*--本の一覧表示ページ(_book_partial)--*/
/*-----------------------*/
.books_list {
  display: grid;
  grid-template: auto/ 20% 20% 20% 20% 20%;
}

.partial_book {
  width: 80%;
  height: 350px;
}
