.txt-author {
  color: #3c6ea6;
}

/*-----------------------*/
/*--Reivew詳細(review/show)*/
/*-----------------------*/
.review-detail-box {
  margin: 0 20px 20px 0;
  padding: 15px;
  box-sizing: border-box;
}

.review-detail-content {
  width: 100%;
}

.review-detail-head {
  display: flex;
  justify-content: space-between;
}

.draft-icon {
  background-color: $pale-blue;
  padding: 5px 10px;
  border-radius: 5px;
}

.fa-edit {
  color: $main_color;
}

.fa-trash {
  color: #bbbbbb;
}
/*-----------------------*/
/*--Reivewパーシャルページ(_book_review)*/
/*-----------------------*/
.book_review_boxs {
  display: grid;
  grid-template: auto/ 50% 50%;
  background-color: #fff;
}

.book-review-box {
  margin: 0 20px 20px 0;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}

.review-content:hover {
  opacity: 0.7;
}

.review-content-detail {
  padding: 0;
}

.review-sub {
  display: flex;
  justify-content: space-between;
}

.edit-delete {
  right: 15px;
}

/*-----------------------*/
/*--お気に入りボタン(_favorite_button)--*/
/*-----------------------*/
.favorite-btn {
  background-color: transparent;
  border: none;
  vertical-align: bottom;
}

.favorite-btn:focus {
  outline: none;
}

.favorite-heart {
  color: $light-red;
}

/*-----------------------*/
/*--コメント--*/
/*-----------------------*/
.comment-boxs {
  padding: 20px;
}

.comment-box {
  border-bottom: 1px solid #dcdcdc;
}
