/*-----------------------*/
/*--Reivew詳細ページ(review/show)*/
/*-----------------------*/
.review-detail {
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
}

.review-detail-content {
  margin: 0;
  border-bottom: 1px solid #e7e6e6;
}

.review-detail-user {
  display: flex;
}