/*-----------------------*/
/*--共通部--*/
/*-----------------------*/

.topwrapper {
  background-image: url("toppage.jpg");
  height:600px;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.toppage-message {
  position: relative;
  top: 180px;
  left: 50px;
  color: #fff;
}
/*-----------------------*/
/*--ログイン時--*/
/*-----------------------*/

/*-----------------------*/
/*--非ログイン時--*/
/*-----------------------*/