/*-----------------------*/
/*--共通部--*/
/*-----------------------*/

.topwrapper {
  background-image: url("toppage.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.toppage-message {
  position: relative;
  top: 180px;
  left: 50px;
  color: #fff;
}

.all-review-btn {
  background-color: $pale-blue;
  display: inline-block;
  position: absolute;
  right: 15%;
  border-radius: 10px;
}

.all-review-btn p {
  padding: 10px 25px;
  box-sizing: border-box;
}

.review-list {
  background-color: #fff;
}

/*-----------------------*/
/*--ログイン時--*/
/*-----------------------*/

/*-----------------------*/
/*--非ログイン時--*/
/*-----------------------*/
