@import "common";

/*-----------------------*/
/*--登録ページ(users/new, sessions/new)--*/
/*-----------------------*/
.form-item {
  border: 1px solid #dcdcdc;
}
.form-item:nth-child(5) {
  border-bottom: 1px solid #dcdcdc;
}

.form-item .field_with_errors {
  border: 1px solid #dcdcdc;
}

.form-label {
  display: block;
  width: 40%;
  background-color: #f4f4f4;
  margin: 2px 0;
  padding: 25px 0 25px 5px;
  font-weight: bold;
}

.form-input {
  display: block;
  width: 60%;
  height: 30px;
  margin: 25px 15px;
}

/*新規登録*/

/*ログイン*/
.guest-btn {
  background-color: #ef534b;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
}

.guest-btn:hover {
  opacity: 0.8;
  color: #fff;
}

.login-submit {
  text-align: center;
  justify-content: center;
}

/*プロフィール更新*/
.gender {
  margin: 0;
}

.form-label-introduction {
  display: block;
  width: 40%;
  background-color: #f4f4f4;
  margin: 2px 0;
  padding: 50px 0 42px 5px;
  font-weight: bold;
}

.form-input-introduction {
  display: block;
  width: 60%;
  margin: 25px 15px;
}

/*-----------------------*/
/*--ユーザーのプロフィールページ(users/show)--*/
/*-----------------------*/
.user-page-bar-lists {
  display: flex;
  width: 100%;
}

.user-page-bar {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  height: 72px;
}

.user-page-bar-list {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 68px;
}

.user-page-bar-list a {
  font-weight: bold;
  display: block;
}

@media screen and (max-width: 767px) {
  .user-page-bar {
    height: auto;
  }
  .user-page-bar-lists {
    display: block;
  }
  .user-page-bar-list {
    line-height: 30px;
  }
  .row {
    margin: 0;
  }
}

.user-page-bar-list a:not(.page-active):hover {
  background-color: #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}

.page-active {
  border-bottom: 3px solid $main_color;
}

/*-----------------------*/
/*--フォローページ(_follow_user)(followings, followers)--*/
/*-----------------------*/
.follow-user {
  border-bottom: 1px solid #dcdcdc;
}

.follow-user-info {
  width: 30px;
}

.follow-btn {
  border: 1px solid #2dacdb;
  background-color: #fff;
  padding: 2.5px 10px;
  border-radius: 15px;
  outline: none;
  color: #2dacdb;
}

.follow-btn:focus,
.unfollow-btn:focus {
  outline: none;
}
.unfollow-btn {
  border: 1px solid #888888;
  background-color: #fff;
  padding: 2.5px 10px;
  border-radius: 15px;
}

.unfollow-btn:hover {
  background-color: #eeeeee;
}
