<div class="modal review-modal">
  <div class="modal-bg modal-close"></div>
  <div class="modal-content">                                                                        
    <div class="modal-header">
      <p class="txt-m m-0">レビューを編集</p>
      <button class="modal-close close-btn txt-xxs"><i class="fas fa-times"></i> 閉じる</button>
    </div>
    <%= render "review_format" %>
  </div>
</div>